# Supabase credentials (Dapat diperoleh dari dashboard.supabase.com -> Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://xyzcompany.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.dummy_anon_key

# Supabase Storage Bucket Name (Default: haul-archive)
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=haul-archive
